@font-face {
    font-family: 'EsenciaRegular';
    src: url('../fonts/Esencia/esencia.eot');
    src: url('../fonts/Esencia/esencia.eot') format('embedded-opentype'),
         url('../fonts/Esencia/esencia.woff') format('woff'),
         url('../fonts/Esencia/esencia.ttf') format('truetype'),
         url('../fonts/Esencia/esencia.svg#EsenciaRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light/opensans-light.eot');
    src: url('../fonts/OpenSans-Light/opensans-light.eot') format('embedded-opentype'),
         url('../fonts/OpenSans-Light/opensans-light.woff') format('woff'),
         url('../fonts/OpenSans-Light/opensans-light.ttf') format('truetype'),
         url('../fonts/OpenSans-Light/opensans-light.svg#OpenSansLight') format('svg');
}
