<div>
    <p>
        <strong>Społeczny Komitet Odbudowy Narodnego Domu <br /> w Przemyślu</strong><br />
        ul. Kościuszki 5<br />
        37-700 Przemyśl<br />
        tel. +48 16 678 60 39<br />
    </p>
</div>
<div class="middle">
    <p>
        <strong>Numer konta</strong> bank PBS Oddział w Przemyślu<br />

        67 8642 1155 2015 1507 1608 0001 (PLN)<br />

        40 8642 1155 2015 1507 1608 0002 (USD)<br />

        SWIFT / BIC: POLUPLPR<br />
    </p>
</div>
<div class="right">
    <p>
        <strong>Zbiórka publiczna</strong> prowadzona na podstawie<br />

        Decyzji Ministra Administracji i Cyfryzacji Nr 107<br />

        2013 z dnia 14 marca 2013.<br />
    </p>
</div>
