<article class="single-page support" ng-hide="pageName !== 'support'">
    <header>
        <h1>Wesprzyj</h1>
        <p>Narodnyj Dim (Ukraiński Dom Ludowy) w Przemyślu od 2011 jest własnością ukraińskiej społeczności. Wskutek wieloletnich zaniedbań znajduje się w bardzo złym stanie technicznym i wymaga pilnego remontu. Dlatego tak bardzo liczy się Twoje wsparcie.
Według wstępnej wyceny architektonicznej, z uwzględnieniem wymogów konserwatorskich – remont Narodnego Domu będzie kosztował ok. 12 000 000 zł (dwanaście milionów złotych).
Dowiedz się jak możesz pomóc – już teraz.
</p>
    </header>
    <div class="content">
        <p>Oczywiście zdajemy sobie sprawę, że nie jest to suma, którą tak po prostu dostaniemy na konto. 12 000 000 zł to suma, która bardziej kojarzy się z abstrakcyjną wygraną w Lotto, niż czymś osiągalnym, jednak wierzymy, że wspólnymi siłami uda nam się ją zebrać.</p>
        <h2>Nasz cel finansowy chcemy osiągnąć:</h2>
        <ul>
            <li>organizując zbiórkę publiczną – zobacz jak możesz się w nią włączyć,</li>
            <li>nawiązując współpracę z osobami, które mogą przekazać na ten cel większe kwoty, w tym z biznesem,</li>
            <li>pisząc wnioski o granty – zarówno z funduszy polskich jak i unijnych.</li>
        </ul>
        <h2>Zachęcamy Cię do włączenia się w zbiórkę pieniędzy:</h2>
        <ul>
            <li>Już teraz <strong>wpłać dowolną kwotę na konto</strong> Społecznego Komitetu Odbudowy Narodnego Domu w Przemyślu (z dopiskiem: „Darowizna na odbudowę Narodnego Domu”) <strong>nr konta: 67 8642 1155 2015 1507 1608 0001</strong> (dla wpłat w złotówkach) nr dla wpłat w dolarach: <strong>40 8642 1155 2015 1507 1608 0002</strong>  (SWIFT / BIC:  POLUPLPR) bank PBS Oddział w Przemyślu.
            </li>
            <li>Możesz też przekazać na ten cel 1% podatku wpisując w zeznaniu rocznym następujące dane: <br />
            KRS: 0000304473 (Stowarzyszenie "Ukraiński Dom Narodowy") Cel szczegółowy: „Remont ND”</li>
            <li>Przekazuj informację o zbiórce dalej – znajomym i rodzinie: zamieść informację na swoim profilu na Facebooku, w stopce maila, czy po prostu porusz temat na spotkaniu przy herbacie. Niech wszyscy wiedzą na co zbieramy, przekaż im jak można się dorzucić – im nas więcej, tym łatwiej będzie zebrać niezbędną sumę!
            </li>
            <li>Aktywnie włącz się w zbieranie pieniędzy razem z nami – możesz zorganizować małą, prywatną zbiórkę na rodzinnych lub okolicznościowych imprezach, nie potrzebujesz do tego identyfikatora ani zezwoleń. </li>
        </ul>
        <p>
            Można poprosić znajomych o drobne datki pieniężne zamiast kwiatów na weselach – tak w dniu swojego święta zrobili Igor i Joasia przekazując na nasz cel sumę 1 600 zł.
        </p>
        <p>
            Podobnie darowiznami na wspólny cel można zastąpić symboliczne wiązanki na pogrzebach, żegnając osoby, które nierzadko dużą część życia poświęciły zachowaniu ukraińskiej kultury i tożsamości – w taki sposób, w szacunku do ukraińskiego dziedzictwa, rodzina i znajomi pożegnali Teresę Tucką. Udało się zebrać 3 677 zł.
        </p>
        <p>
            Niektórzy zaangażowani z okazji urodzin czy jubileuszu proszą znajomych o przekazanie wpłat pieniężnych zamiast tradycyjnych prezentów. Aleksander Kolańczuk oraz Katarzyna i Michał Kozak w taki sposób wsparli zbiórkę kwotą prawie 5 500 zł.
        </p>
        <p>
            Doroczne małanki i wertepy to doskonała okazja do wsparcia akcji zbiórkowej – w zeszłym roku udało się zebrać prawie 10 000 zł podczas takich wydarzeń.
        </p>
    </div>
    <footer ng-include="'views/footer.html'"></footer>
</article>

<article class="single-page news" ng-hide="pageName !== 'news'">
    <header>
        <h1>Under construction</h1>
    </header>
    <footer ng-include="'views/footer.html'"></footer>
</article>

<article class="single-page history" ng-hide="pageName !== 'history'">
    <header>
        <h1>Historia</h1>
        <p>Narodnyj Dim (Ukraiński Dom Ludowy) w Przemyślu to budynek, zbudowany ze składek ukraińskiej społeczności lokalnej w 1904 roku.
To budynek, ale też potężny kawał historii, który chcemy tu po krótce przedstawić. Historii, która zaczyna się pod koniec XIX wieku i biegnie do wieku XXI.
Na XXI wieku historia się nie kończy – mamy nadzieję dzięki wam obserwować jej nowe otwarcie.</p>
    </header>
    <div class="content">
<p>
    Od 21 marca 2011 roku Narodnyj Dim w Przemyślu jest własnością Związku Ukraińców w Polsce – największej organizacji reprezentującej ukraińską mniejszość narodową w Polsce. Dzięki wieloletnim staraniom udało się odzyskać ten piękny, wpisany do rejestru zabytków, budynek. Budynek, w którym występowała Salomea Kruszelnicka, który w czasie swojej prezydentury odwiedził Wiktor Juszczenko.
</p>
<h2>Zacznijmy jednak od jego początków.</h2>
<p>
    Początki to czas odrodzenia narodowo-kulturalnego w 2. połowie lat 80-tych XIX wieku i osoba Teofila Kormosza, a także Hryhorija Cehłyńskoho i Ołeksy Jaremy. Trzech panów połączył zapał do działalności społecznej i idea zbudowania wspólnego domu dla różnych inicjatyw i organizacji ukraińskich w Przemyślu.
</p>
<p>
    Aby osiągnąć ten cel, w styczniu 1900 roku założono Towarzystwo „Narodnyj Dim” w Przemyślu – zadaniem owej organizacja o spółdzielczym charakterze była pomnażanie zasobów członków Towarzystwa i zbiórka pieniędzy na budowę tej, jak byśmy dziś powiedzieli, instytucji kultury.
</p>
<p>
    Budowę rozpoczęto 27 lutego 1902 r. a dnia 4 lipca 1903 r. wmurowany został kamień węgielny.
    Po trwającej niespełna dwa lata budowie w dniu  1 listopada 1904 odbyło się uroczyste poświęcenie nowego, wielkiego i wspaniałego budynku Narodnego Domu. Tym samym minęło 5 lat od momentu podjęcia decyzji o jego budowie do momentu poświęcenia i otwarcia. Był to czas rekordowy nie tylko jak na ówczesne czasy i warunki (w porównaniu z budową innych Narodnych Domów - we Lwowie, Tarnopolu, Stryju czy Kołomyi), ale również niedościgniony dla prac remontowych w dzisiejszych czasach i warunkach.
</p>
<p>
    Narodnyi Dim stał się nie tylko domem dla wielu ukraińskich organizacji, ale również dla kolejnych pokoleń przemyskich Ukraińców, którzy w działających tu zespołach artystycznych czy organizacjach społecznych kultywowali swoją tożsamość i kulturę.
</p>
<p>
    Co ciekawe, w budynku mieściły się nie tylko organizacje prowadzące działalność muzyczną czy kulturalną, ale też – a może przede wszystkim – organizacje pomocowe i prowadzące działalność ekonomiczną, kredytową. Znajdowały się tu też: biblioteka, sala teatralno-kinowa, księgarnia a nawet… salon fryzjerski.
</p>
<p>
    W pierwszych miesiącach II wojny światowej – po zajęciu Przemyśla przez Armię Czerwoną Narodnyj Dim został zajęty przez Sowietów a ukraińskie organizacje –zlikwidowane. W l. 1939-1941 władza radziecka pozwalała tylko na występy amatorskich zespołów teatralnych.
</p>
<p>
    Rok 1941 przyniósł zmianę okupanta – tym razem Narodnyj Dim znalazł się pod kontrolą Rzeszy, istnienie niezależnych organizacji ciągle nie było możliwe. Po wojnie i wysiedleniach 1947 r. w ramach Akcji „Wisła”, dopiero w l. 1955-56 pojawiła się pierwsza możliwość odrodzenia społeczno-kulturalnego Ukraińców w Polsce, w tym w Przemyślu.
</p>
<p>
    W 1956 r. powstało Ukraińskie Towarzystwo Społeczno-Kulturalne (UTSK) – 2 września odbyło się zebranie założycielskie Wojewódzkiego organizacyjnego komitetu UTSK w Przemyślu i to tam, po raz pierwszy po wojnie, pojawił się postulat zwrotu budynku Narodnego Domu ukraińskiej społeczności. Postulat ów nie został wówczas spełniony – ukraińska społeczność dostała – na prawach najemcy - niewielką część pomieszczeń oraz salę teatralną na potrzeby działalności kulturalno-oświatowej.
</p>
<p>
    Niemniej przez cały okres działalności UTSK, a potem ZUwP, Narodnyj Dim znów był – jak przed wojną – miejscem prowadzenia (choćby w ograniczonej formie) działalności kulturalno-oświatowej i wydarzeń kulturalnych.
</p>
<p>
    Po 1989 r. nowa ukraińska organizacja - Związek Ukraińców w Polsce – podejmowała liczne i niełatwe starania o odzyskanie budynku przed laty wybudowanego ze środków społeczności ukraińskiej Przemyśla. Starania te ukończyły się sukcesem – budynek został zwrócony społeczności ukraińskiej. Teraz przed nami kolejne niełatwe zadanie – wyremontowanie tego przepięknego zabytku. W tym celu, i w nawiązaniu do społecznych, założycielskich korzeni Narodnego Domu, powołany został Społeczny Komitet Odbudowy Narodnego Domu. Grupa ludzi, podobnie jak założyciele Narodnego Domu, pracuje na zasadach społecznych zajmując się zbiórką środków i planowaniem kolejnych etapów remontu budynku. Zobacz jak możesz się włączyć w te prace…
</p>

    </div>
    <footer ng-include="'views/footer.html'"></footer>
</article>

<article class="single-page plans" ng-hide="pageName !== 'plans'">
    <header>
        <h1>Narodnyj Dim w 2020 roku to:</h1>
        <ul>
            <li>miejsce realizacji ważnych inicjatyw regionalnych i ponadregionalnych</li>
            <li>ośrodek współpracy transgranicznej</li>
            <li>centrum spotkań i dialogu otwarte dla różnych grup</li>
            <li>nowoczesna sala koncertowo-teatralna</li>
            <li>centrum dokumentacyjne</li>
            <li>sale konferencyjno-szkoleniowe</li>
            <li>budynek dostępny dla osób niepełnosprawnych.</li>
        </ul>
    </header>
    <div class="content">
        <h2>W Narodnym Domu w Przemyślu znajdować się będą:</h2>
        <ul>
            <li>sala koncertowo - teatralna wraz z profesjonalnym zapleczem (szatnia dla widzów, wygodne garderoby dla artystów, maszynownia dla techników sceny),</li>
            <li>biblioteka z czytelnią multimedialną, w której skorzystać można będzie ze zgromadzonych ukrainików - archiwum i księgozbioru,</li>
            <li>wielofunkcyjne sale konferencyjne na wydarzenia społeczne i biznesowe z zapleczem sanitarnym,</li>
            <li>sale szkoleniowe dla celów edukacyjnych i społecznych,</li>
            <li>galeria wielokulturowych wystaw artystycznych,</li>
            <li>integracyjna świetlica środowiskowa z pracowniami zajęć plastycznych muzycznych i tanecznych,</li>
            <li>punkt informacji turystycznej,</li>
            <li>pomieszczenia biurowe,</li>
            <li>pokoje gościnne.</li>
        </ul>
        <p>
            Jednak przede wszystkim będzie to ogromna przestrzeń integracji, spotkań wielu kultur, w której rodzić się będą nowe idee i projekty współpracy na pograniczu polsko-ukraińskim. W Domu Ludowym, na powierzchni ponad 2 600 m2 organizowane będą występy artystyczne, wystawy, konferencje i sympozja naukowe, warsztaty i szkolenia o charakterze kulturalnym, edukacyjnym, społecznym.
        </p>
        <p>
            Nim to nastąpi konieczne są jednak znaczne inwestycje – z powodu wieloletnich zaniedbań budynek znajduje się w katastroficznym stanie. Remonty nie są w tej sytuacji zabiegami estetycznymi, a mają na celu przede wszystkim zapewnienie bezpieczeństwa i komfortu jego użytkownikom, następnie również przywrócenie budynkowi jego oryginalnej świetności. Zgodnie z projektem architektonicznym niezbędne są: remont stropów i dachu, założenie izolacji, wymiana większości instalacji wewnętrznych, posadzek, rewitalizacja elewacji. Ze względu na status zabytku nieodzowne są również zabiegi konserwatorskie, takie jak ustalenie i odtworzenie pierwotnych kolorystyk i dekoracji.
        </p>
        <p>
            Planowane jest przebudowanie sali teatralnej, w celu zwiększenia jej funkcjonalności. Budynek, przy zachowaniu statusu zabytku, dostosowany zostanie do współczesnych wymagań i będzie dostępny dla osób starszych i niepełnosprawnych.
        </p>
        <p>
            Ponadto, dzięki remontowi, powierzchnia użytkowa budynku zwiększy się niemal o 600 m2. Realizacja tych ambitnych planów zależy też od Twojego wsparcia!
        </p>
    </div>
    <footer ng-include="'views/footer.html'"></footer>
</article>
